.cardLoan {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--white-300);
  padding-bottom: 3em;
}

.titleCardLoan {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.requirements {
  flex-basis: 200px;
  flex-grow: 1;
  background: var(--white-100);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--white-200); 
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
  display: grid;
  place-content: center;
}

.titleId {
  font-weight: 500;
  color: var(--white-600);
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
}

.textId {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
}

.prevInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goAll {
  display: flex;
  justify-content: flex-start;
}

.goAll h5 {
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  color: var(--green-300);
  padding: 10px 20px;
  background: var(--green-50);
  border-radius: 8px;
  border: 1px solid transparent;
}

.goAll h5:hover {
  background: var(--green-50);
  color: var(--green-400);
  border: 1px solid var(--green-200);
}

.prevInfo h3 {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  font-weight: 500;
  color: var(--green-900);
}

.requirements:hover {
  border: 1px solid var(--white-300);
}

.widgetsViews {
  flex-basis: 200px;
  flex-grow: 1;
  background: var(--white-100);
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white-100);
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
}

.widgetsViews:hover {
  border: 1px solid var(--white-200);
}

.subTextBarView {
  flex: 1;
  display: grid;
  place-content: center;
}

.centerList p {
  font-weight: 500;
  color: var(--white-400);
}

.iconListCheck {
  color: var(--white-600);
}

.boxChevron {
  display: flex;
  justify-content: flex-end;
}

.boxBtnsDesicion {
  flex-basis: 200px;
  flex-grow: 1;
  background: var(--white-100);
  padding: 20px;
  border-radius: 8px;
  display: grid;
  place-content: center;
  border: 1px solid transparent;
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
}

.boxBtnsDesicion:hover {
  border: 1px solid var(--white-200);
}

.boxStatusLoan h5 {
  font-weight: 500;
  color: var(--white-600);
}

.statusTextPendiente {
  color: var(--white-400);
}

.statusTextSuccess {
  color: var(--green-400);
}

.statusTextReject {
  color: var(--red-400);
}

.boxAmount p {
  font-weight: 500;
  color: var(--white-400);
}

.boxAmount h1 {
  font-weight: 500;
  color: var(--white-600);
}

.employeeInfo {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .subTextBarView {
    padding: 30px 5px;
  }
}