.main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 90%;
  margin-left: 5%;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--white-200);
  padding: 20px;
  background: var(--white-50);
  border-radius: 16px;
}

.boxImageLogo {
  display: grid;
  place-content: center;
  margin-bottom: 2em;
}

.logoIcon {
  width: 40px;
  height: auto;
  filter: drop-shadow(5px 5px 10px #000000);
}

.optionAccess {
  display: grid;
  place-content: center;
}

.btnsCenter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btnInit {
  padding: 10px;
  cursor: pointer;
  color: var(--green-950);
  font-weight: 500;
}

.btnInitSelected {
  background: var(--green-50);
  display: grid;
  place-content: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--green-50);
  color: var(--green-600);
  font-weight: 500;
}

.btnregister {
  padding: 10px;
  cursor: pointer;
  color: var(--green-950);
  font-weight: 500;
}

.btnregisterSelected {
  padding: 10px;
  cursor: pointer;
  background: var(--green-50);
  display: grid;
  place-content: center;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--green-50);
  color: var(--green-600);
  font-weight: 500;
}