.main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 90%;
  margin-left: 5%;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--white-200);
  padding: 20px;
  background: var(--white-50);
  border-radius: 16px;
}

.boxImageLogo {
  display: grid;
  place-content: center;
  margin-bottom: 10px;
}

.logoIcon {
  width: 50px;
  height: auto;
  filter: drop-shadow(5px 5px 10px var(--white-900));
}

.warnAccount {
  text-align: center;
  font-weight: 500;
}

.bntWarn {
  cursor: pointer;
  font-weight: 500;
  color: var(--white-500);
}

.bntWarn:hover {
  color: var(--white-600);
}