.containerPerfil {
  width: 90%;
  margin-left: 5%;
  margin-top: 7em;
  margin-bottom: 3em;
}

.titlePrinCipalPerfil {
  font-weight: 600;
}

.boxImagePerfil {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatarIcon {
  filter: drop-shadow(5px 5px 10px var(--white-300));
  border-radius: 8px;
  width: 200px;
  height: auto;
  z-index: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.avatarIconCC {
  filter: drop-shadow(5px 5px 10px var(--white-300));
  border-radius: 8px;
  width: 200px;
  height: 300px;
  z-index: 1;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.barPicturesAuth {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.BoxInfoSelfie {
  display: grid;
  place-content: center;
}

.iconInfoSelf {
  color: var(--white-600);
  filter: drop-shadow(0px 0px 10px #000000);
  cursor: pointer;
}

.boxInfoUserAvatar {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  flex-grow: 1;
  /* background: var(--white-100); */
  /* border: 1px solid var(--white-200); */
  padding: 20px;
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
}

.boxInfoUserSelfie {
  display: grid;
  place-content: center;
  flex-basis: 400px;
  flex-grow: 1;
  background: var(--white-100);
  padding: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid var(--white-200);
}

.textsChangeImage {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textsChangeImage p {
  text-align: start;
  color: var(--white-600);
  font-weight: 300;
}

.textsChangeImage h5 {
  text-align: start;
  margin-top: 10px;
  font-weight: 600;
  color: var(--white-600);
}

.centerInfoUserAvatar {
  display: flex;
  justify-content: flex-start;
}

.centerInfoUserSelfie {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.boxChangeImage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.centerBoxChangeImg {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boxInputsInfo {
  flex-basis: 400px;
  flex-grow: 1;
  padding-top: 30px;
  /* display: grid;
  place-content: center; */
}

.centerBoxInputsInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background: var(--white-300); */
}

.supraPartCenter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.partCenter {
  flex: 1;
}

.boxCenterUpdate {
  display: grid;
  place-content: center;
}

.boxCenterUpdate button {
  padding: 10px 25px;
  border-radius: 8px;
  border: 1px solid var(--white-200);
  font-weight: 500;
  color: var(--white-600);
}

.boxCenterUpdate button:hover {
  border: 1px solid var(--white-300);
  cursor: pointer;
}

.boxInfoUser {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerDropDocuments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 10px;
  background: var(--white-50);
  border: 1px solid var(--white-200);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.boxIconPreview {
  display: grid;
  place-content: center;
}

.textPreview {
  display: grid;
  place-content: center;
  text-align: center;
  font-weight: 500;
  color: var(--blue-400);
}

.containerDropDocuments:hover {
  border: 1px solid var(--white-300);
}

.iconPreview {
  color: var(--blue-200);
  /* filter: drop-shadow(0px 0px 10px var(--white-500)); */
}

.centerBoxInfoUser {
  display: flex;
  flex-direction: column;
}

.inputCC {
  padding: 10px;
  outline: none;
  flex: 1;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--white-300);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.SelectGenre {
  font-size: 16px;
  width: 100%;
}

.boxPartInfo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1em;
}

.boxPartInfo p {
  font-weight: 400;
  color: var(--green-950);
}

.btnSaveInfo {
  background: var(--green-100);
  border-radius: 8px;
  border: 1px solid var(--white-200);
  cursor: pointer;
  font-weight: 600;
  padding: 5px 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: var(--green-700);
}

.partChange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.datesBox {
  margin-top: 1em;
  margin-bottom: 10px;
}

.containerDocumentsImgs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.onlyImgsDocs {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleDocScan {
  font-weight: 400;
  color: var(--green-950);
}

.supraBarStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--green-50);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
}

.headerCardStatus {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.barStatusDocs {
  display: grid;
  place-content: center;
}

.boxIconStatus {
  display: grid;
  place-content: center;
}

.boxIconsStatus {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boxDoc {
  display: grid;
  place-content: center;
  height: 250px;
}

.iconCheck {
  color: var(--green-500);
  /* filter: drop-shadow(0px 0px 10px var(--green-400)); */
}

.warninCC {
  font-weight: 300;
  color: var(--green-800);
}

.btnOpenDoc {
  background: var(--green-100);
  border: 1px solid var(--green-200);
  padding: 10px;
  border-radius: 8px;
  color: var(--green-600);
  font-weight: 400;
  cursor: pointer;
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
}

.btnOpenDoc:hover {
  background: var(--green-200);
}

.optionsBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boxIconsStatus {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.boxIcon {
  display: grid;
  place-content: center;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.viewIcon {
  color: var(--white-600);
}

.boxImageDocPrev {
  display: grid;
  place-content: center;
}

.imgPrevDoc {
  transform: rotate(-90deg);
  flex: 1;
  height: auto;
}

.trashIcon {
  color: var(--red-600);
}

.boxIcon:hover {
  background: var(--white-100);
  border: 1px solid var(--white-200);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.boxIconAvatar {
  flex: 1;
  display: grid;
  place-content: center;
  z-index: 1;
}

.textWarnAvatar {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 1em;
  font-weight: 500;
  color: var(--green-900);
}

.boxTitleSelfie {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  margin-bottom: 2em;
}

.centerBoxTitleSelfie {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.centerBoxTitleSelfie p {
  display: grid;
  place-content: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--green-900);
}

.boxIconAuthSelfie {
  display: grid;
  place-content: center;
}

.iconLock {
  color: var(--green-900);
  filter: drop-shadow(0px 0px 10px #000000);
}

.avatarIcon .cardLaboral {
  flex-basis: 400px;
  flex-grow: 1;
}

.btnChangeImage {
  display: none; /* Oculta el input */
}

.customFileUpload {
  display: grid;
  place-content: center;
  padding: 10px;
  cursor: pointer;
  background-color: var(--green-200); /* color de fondo */
  color: white; /* color del texto */
  border: none; /* sin borde */
  border-radius: 4px; /* bordes redondeados */
}

.centerlabel {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.centerlabel p {
  color: var(--green-700);
  font-weight: 500;
}

.iconUpdateAvatar {
  color: var(--green-700);
}

.boxIconLabel,
.centerlabel p {
  display: grid;
  place-content: center;
}

.customFileUpload:hover {
  background-color: var(--green-300); /* color de fondo al pasar el mouse */
}

.btnDeleteAvatar {
  display: grid;
  place-content: center;
  padding: 10px;
  cursor: pointer;
  background: var(--red-300);
  border: none;
  border-radius: 4px;
}

.btnDeleteAvatar:hover {
  background: var(--red-400);
}

.btnUpdateFinal {
  padding: 10px 5px;
  border: none;
  display: grid;
  place-content: center;
  background: var(--white-100);
  border-radius: 8px;
  font-weight: 500;
  color: var(--white-700);
  cursor: pointer;
}

.btnUpdateFinal:hover {
  background: var(--white-200);
}

.centerBtnDeleteAvatar {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.centerBtnDeleteAvatar p {
  color: var(--white-50);
  font-weight: 500;
}

.iconCancelAvatar {
  color: var(--white-50);
}

@media screen and (max-width: 800px) {
  .boxIconAvatar,
  .boxChangeImage {
    flex: 1;
    display: grid;
    place-content: center;
  }

  .centerInfoUserSelfie {
    display: flex;
    flex-direction: column;
  }

  .centerBoxTitleSelfie p {
    font-size: 15px;
  }

  .supraPartCenter {
    gap: 0px;
  }
}
