.containerNav {
  display: flex;
  flex-direction: row;
  padding: 15px 60px;
  position: fixed;
  top: 0; /* Lo fija en la parte superior */
  left: 0;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s;
}

.NavBoxLogo {
  display: flex;
  justify-content: flex-start;
  flex-basis: 400px;
  flex-grow: 1;
}

.logoNav {
  width: 40px;
  height: auto;
  filter: drop-shadow(0px 0px 10px #484848);
}

.optsBox {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.btnOpt {
  display: grid;
  place-content: center;
  color: var(--blue-300);
  /* filter: drop-shadow(5px 5px 10px #000000); */
}

.btnOpt:hover {
  color: var(--blue-400);
  cursor: pointer;
}

.btnOptLogin {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0px 10px;
  /* background: var(--white-200); */
  border-radius: 1em;
  font-weight: 400;
  cursor: pointer;
  color: var(--blue-300);
  border: 1px solid transparent;
}

.btnOptLogin:hover {
  background: var(--blue-800);
  transition: background 0.4s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: var(--blue-400);
  border: 1px solid var(--white-950);
}

.iconBtn {
  color: var(--green-700);
}

.btnOptLogin p {
  display: grid;
  place-content: center;
}

.centerIconBtn {
  display: grid;
  place-content: center;
}

.avatar {
  filter: drop-shadow(0px 0px 2px #b1b1b1);
}

.centerOptsBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .containerNav {
    padding: 10px 30px;
  }
}
