@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.supraMain {
  background: linear-gradient(
    to right top,
    #ffffff,
    #f7f7ff,
    #eef0ff,
    #e2eaff,
    #d5e4ff
  );
  min-height: 100dvh;
  display: flex;
  flex-wrap: wrap-reverse;
  /* width: 90%;
  margin-left: 5%; */
}

/* .centerMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.infoContent {
  flex-basis: 500px;
  flex-grow: 1;
  display: grid;
  place-content: center;
  padding-left: 70px;
}

.centerInfoContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slogan {
  display: grid;
  place-content: center;
  font-weight: 600;
  padding-right: 100px;
  color: var(--green-900);
}

.btn {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.centerBtn {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background: var(--green-200);
  border-radius: 8px;
  padding: 15px 20px;
}

.centerBtn p {
  display: grid;
  place-content: center;
  color: var(--green-600);
  font-weight: 500;
}

.boxIconArrow {
  display: grid;
  place-content: center;
}

.iconArrow {
  color: var(--green-600);
}

.secondIlus {
  width: 90%;
  height: auto;
}

.ilustrationContent {
  flex-basis: 500px;
  flex-grow: 1;
  display: grid;
  place-content: center;
  animation-name: slideIn;
  animation-duration: 1s;
}

.ilustrationGif {
  filter: drop-shadow(5px 5px 10px #000000);
  width: 120%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .infoContent {
    padding-left: 0;
  }

  .ilustrationContent {
    margin-top: 5em;
  }

  .slogan {
    padding-right: 0;
  }

  .secondIlus {
    width: 100%;
    height: auto;
  }

  .supraMain {
    padding: 0px 30px;
  }

  .ilustrationGif {
    width: 100%;
    height: auto;
  }
}
