.containerContract {
  min-height: 100dvh;
}

.barContract {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.titleActions {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.titleContract {
  font-weight: 700;
  color: var(--white-800);
}

.centerTitleAction {
  display: grid;
  place-content: center;
}

.boxIconClose {
  display: grid;
  place-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.boxIconClose h3 {
  color: var(--red-600);
  font-weight: 700;
}

.boxIconClose h3:hover {
  color: var(--red-500);
}

.iconClose {
  color: var(--white-100);
  filter: drop-shadow(5px 5px 10px #000000);
}

.listParts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px 10px;
}

.boxInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.boxSelect {
  padding: 10px;
  outline: none;
}

.headerInputInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerInputInfo p,
.boxIconInfo {
  display: grid;
  place-content: center;
}

.infoInput {
  display: flex;
  flex-direction: row;
}

.inputInfo {
  padding: 10px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--white-300);
  font-size: 16px;
}

.containerBtnSoli {
  margin-top: 2em;
  display: grid;
  place-content: center;
}

.btnSoli {
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--white-200);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: var(--white-100);
  cursor: pointer;
  font-weight: 500;
  color: var(--white-900);
}

.btnSoli:hover {
  background: var(--white-200);
}
