.ContractContainer {
  min-height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 2em;
}

.partBox {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accountInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.accountInput h5 {
  flex: 1;
  text-align: start;
  font-weight: 500;
  color: var(--white-400);
}

.accountInput input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--white-300);
  font-size: 16px;
}

.partPrice {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.partPrice h5 {
  flex: 1;
  text-align: start;
  font-weight: 500;
  color: var(--white-400);
}

.inputPrice {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--white-300);
  border-radius: 6px;
}

.barContract {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.supraBarStatus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  background: var(--white-50);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.headerCardStatus {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.boxIconStatus {
  display: grid;
  place-content: center;
}

.boxIconsStatus {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boxDoc {
  display: grid;
  place-content: center;
  height: 250px;
}

.prevDoc {
  width: 100%;
  height: auto;
  transform: rotate(-90deg);
}

.boxIcon {
  display: grid;
  place-content: center;
  cursor: pointer;
}

.boxIcon:hover {
  filter: drop-shadow(0px 0px 10px var(--green-500));
}

.iconCheck {
  color: var(--green-500);
  filter: drop-shadow(0px 0px 10px var(--green-500));
}

.warninCC {
  font-weight: 400;
  color: var(--white-600);
}

.titleActions {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.titleContract {
  font-weight: 700;
  color: var(--white-800);
}

.centerTitleAction {
  display: grid;
  place-content: center;
}

.boxIconClose {
  display: grid;
  place-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.boxIconClose h3 {
  color: var(--red-600);
  font-weight: 700;
}

.boxIconClose h3:hover {
  color: var(--red-500);
}

.iconClose {
  color: var(--white-100);
  filter: drop-shadow(5px 5px 10px #000000);
}

.listParts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px 10px;
}

.boxInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.boxSelect {
  padding: 10px;
  outline: none;
}

.headerInputInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerInputInfo p,
.boxIconInfo {
  display: grid;
  place-content: center;
}

.infoInput {
  display: flex;
  flex-direction: row;
}

.iconInfo {
  color: var(--white-600);
  cursor: pointer;
}

.iconPreview {
  color: var(--green-500);
  filter: drop-shadow(0px 0px 10px var(--green-300));
}

.titleVolants {
  font-weight: 400;
  color: var(--white-600);
  text-align: start;
  margin-bottom: 1em;
  margin-top: 1em;
}

.textPreview {
  font-weight: 500;
  color: var(--white-400);
}

.columnCards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.boxInfoUser {
  padding: 10px;
  background: var(--green-50);
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--green-100);
}

.boxInfoPay {
  padding: 10px;
  background: var(--green-50);
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--green-100);
  cursor: pointer;
}

.inputInfo {
  padding: 10px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--white-300);
  font-size: 16px;
  color: var(--white-800);
}

.containerBtnSoli {
  margin-top: 2em;
  display: grid;
  place-content: center;
}

.btnSoli {
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--white-200);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: var(--white-100);
  cursor: pointer;
  font-weight: 500;
  color: var(--white-900);
}

.btnOpenDoc {
  background: var(--green-100);
  border: 1px solid var(--green-500);
  padding: 10px;
  border-radius: 8px;
  color: var(--green-600);
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btnOpenDoc:hover {
  background: var(--green-200);
}

.btnSoli:hover {
  background: var(--white-200);
}

.boxTerms {
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  place-content: center;
}

.centerBoxTerms {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media screen and (max-width: 900px) {
  .prevDoc {
    width: 250px;
    height: auto;
  }
}
