.card {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 7em;
}

.headerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerCard h4 {
  padding: 10px;
  display: grid;
  place-content: center;
  background: var(--red-200);
  border-radius: 8px;
  color: var(--white-800);
  cursor: pointer;
}

.headerCard h4:hover {
  background: var(--red-600);
  color: var(--white-50);
}

.groupText {
  text-align: start;
}

.firstTitle {
  text-align: start;
  font-weight: 500;
  display: grid;
  place-content: center;
}

.secondTitle {
  text-align: start;
  font-weight: 500;
}

.barDates {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.boxDate {
  flex-basis: 200px;
  flex-grow: 1;
}

.boxTypeAccount {
  flex-basis: 200px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.centerBoxTypeAccount {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.supraCenterTA {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.supraCenterTA p {
  display: grid;
  place-content: center;
}

.boxDate input {
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  outline: none;
}

.threeTitle {
  text-align: start;
  font-weight: 500;
}

.justification {
  text-align: start;
}

.textJustification {
  padding: 5px 10px;
  font-size: 16px;
}

.threBoxTexts {
  text-align: start;
}

.threBoxTextsNumber {
  font-weight: 500;
}

.fourTitle {
  text-align: start;
  font-weight: 500;
}

.finalText {
  text-align: start;
}
