.headerSignature {
  display: flex;
  flex-direction: column;
}

.headerSignature h1 {
  font-weight: 600;
  color: var(--green-800);
}

.headerSignature p {
  color: var(--white-600);
}

.containerSendCode {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: grid;
  place-content: center;
}

.centerInputNumbers {
  display: flex;
  justify-content: space-between;
  width: 200px;
  gap: 5px;
}

.inputContainer input {
  width: 30px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 16px;
}

.previewCorreo {
  margin-bottom: 1em;
}