@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  margin-top: 10px;
  min-width: 300px;
  padding: 20px;
  background: transparent;
  color: var(--white-50);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 1em;
}

.infoForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.boxInput {
  display: flex;
  flex-direction: row;
}

.subBoxIconInput {
  display: grid;
  place-content: center;
  padding: 10px;
  /* background: var(--white-100); */
  border: 1px solid var(--white-800);
  border-right: 0;
  border-radius: 8px 0px 0px 8px;
}

.input {
  padding: 10px;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid var(--white-800);
  outline: none;
  font-size: 16px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  flex: 1;
  border-left: 0px;
}

.iconInput {
  color: var(--white-700);
  filter: drop-shadow(0px 0px 10px #000000);
}

.btnSubmit {
  display: grid;
  place-content: center;
  margin-top: 10px;
}

.btnSubmit button {
  background: var(--green-600);
  border: none;
  font-weight: 500;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--green-50);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btnSubmit button:hover {
  background: var(--green-500);
}

.boxIcons {
  display: grid;
  place-content: center;
}

.centerIcons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon {
  color: #464646;
}

.loginMessage {
  color: #464646;
  text-align: center;
  margin-top: 5px;
  display: grid;
  place-content: center;
}

.inputImg {
  margin-top: 10px;
}

.warnText {
  margin-top: 1em;
  margin-bottom: 1em;
}

.bntSubPass {
  margin-top: 1em;
  display: grid;
  place-content: center;
}

.cancelBtn {
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  justify-content: flex-start;
  /* margin-top: 1em; */
}

.cancelBtn p {
  /* border: 1px solid var(--red-200); */
  font-weight: 800;
  color: var(--red-500);
  padding: 5px 10px;
  border-radius: 8px;
  background: var(--white-100);
}

.cancelBtn p:hover {
  background: var(--red-400);
  color: var(--white-50);
}

.containerLoader,
.boxIconLoader {
  display: grid;
  place-content: center;
}

.bocCenterLoader {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.iconLoader {
  animation: spin 2s linear infinite;
}

.BtnReq {
  background: var(--white-50);
  font-weight: 800;
  outline: none;
  border: 1px solid var(--white-50);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--white-500);
  text-align: center;
}

.BtnReq:hover {
  background: var(--white-100);
}